/* blog detail */
.blog-detail {
    margin: var(--section-spacing) 0px;
}
.blog-detail-header {
    text-align: center;
    margin-bottom: 48px;
}
.blog-detail-heading {
    margin: 40px 0 32px;
}
.blog-detail-list {
    margin: 24px 0;
    list-style: unset;
    padding-left: 18px;
}
.blog-detail-item ~ .blog-detail-item {
    margin-top: 16px;
}
.blog-detail-image {
    margin-top: 32px;
}
.blog-detail-image img {
    min-width: 100%;
}
